<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/booking/addBooking}" th:object="${booking}"  method="post" >

    <label for="startDate">Start date: </label><br>
    <input type="date" id="startDate" name="startDate"><br>

    <label for="endDate">End Date: </label><br>
    <input type="date" id="endDate" name="endDate"><br>

    <label for="guestQuantity">Guest quantity: </label><br>
    <input type="text" id="guestQuantity" name="guestQuantity"><br>

    <label for="extraBedsQuantity">Extra beds: </label><br>
    <input type="text" id="extraBedsQuantity" name="extraBedsQuantity"><br>

    <input type=hidden id="id"><br>
    <input type="submit" value="Search">
</form>


</body>
</html>