<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Add Customer</h2>

<form action="#" th:action="@{/customer/addCustomerNew}" th:object="${customer}" method="post" >
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="ssn">SSN:</label><br>
    <input type="text" id="ssn" name="ssn"><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>

    <input type=hidden id="id"><br>
    <input type="submit" value="Continue to booking">
</form>

</body>
</html>