<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>
<body>
<h2 th:text="${bookingTitle}"></h2>
<h2 th:text="${message}"></h2>
<h2 th:text="${feedbackMessageUpdateBooking}"></h2>
<div class="allBookings" >



    <table>
        <th th:text="${bookingId}"></th>
        <th th:text="${customerId}"></th>
        <th th:text="${customerName}"></th>
        <th th:text="${customerEmail}"></th>

        <th th:text="${startDate}"></th>
        <th th:text="${endDate}"></th>
        <th th:text="${guestQuantity}"></th>
        <th th:text="${roomId}"></th>
        <th th:text="${roomSize}"></th>
        <th th:text="${extraBedsQuantity}"></th>
        <tbody>
        <tr th:each="book : ${allBookings}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.customer.id}"></td>
            <td th:text="${book.customer.name}"></td>
            <td th:text="${book.customer.email}"></td>
            <td th:text="${book.startDate}"></td>
            <td th:text="${book.endDate}"></td>
            <td th:text="${book.guestQuantity}"></td>
            <td th:text="${book.room.id}"></td>
            <td th:text="${book.room.roomType.roomSize}"></td>
            <td th:text="${book.extraBedsQuantity}"></td>

            <td><a th:href="@{deleteById/{id}/(id=${book.id})}">Delete</a></td>
            <td><a th:href="@{/booking/updateBookingByView/{bookingId}/(bookingId=${book.id})}">Update</a></td>
        </tr>

        </tbody>
    </table>
</div>


</body>
</html>