<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav><a class="indexButtons" href="http://localhost:8080">Home</a> <a class="indexButtons" th:href="@{addCustomerView}">Add customer</a></nav>
<h2 th:text="${customerTitle}"></h2>
<div class="allCustomers" th:unless="${#lists.isEmpty(allCustomers)}">

    <h4 th:text="${message}"></h4>
    <h4 th:text="${updateCustomerFeedbackMessage}"></h4>

    <table>
        <th th:text="${customerId}"></th>
        <th th:text="${name}"></th>
        <th th:text="${ssn}"></th>
        <th th:text="${email}"></th>
        <th></th>
        <th></th>
        <th></th>
        <tbody>
        <tr th:each="cust : ${allCustomers}">
            <td th:text="${cust.id}"></td>
            <td th:text="${cust.name}"></td>
            <td th:text="${cust.ssn}"></td>
            <td th:text="${cust.email}"></td>
            <td><a class="deleteButton" th:href="@{deleteById/{id}/(id=${cust.id})}">Delete</a></td>
            <td><a class="updateButton" th:href="@{editByView/{id}/(id=${cust.id})}">Update</a></td>
                <td><a class="bookRoomButton" th:href="@{/booking/bookingByView/{id}/(id=${cust.id})}">Book room</a></td>
        </tr>

        </tbody>
    </table>
</div>

<p>

</p>


</body>
</html>