<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h2 th:text="${customerTitle}"></h2>
<div class="allCustomers" th:unless="${#lists.isEmpty(allCustomers)}">

    <table>
        <th th:text="${name}"></th>
        <th th:text="${ssn}"></th>
        <th th:text="${email}"></th>
        <tbody>
        <tr th:each="cust : ${allCustomers}">
            <td th:text="${cust.name}"></td>
            <td th:text="${cust.ssn}"></td>
            <td th:text="${cust.email}"></td>
            <td><a th:href="@{deleteCustomer/{id}/delete(id=${cust.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>