<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav id="Home">
    <a class="indexButtons" href="http://localhost:8080">Home</a>
    <a class="indexButtons" href="http://localhost:8080/adminpage.html">Admin services</a>
    <a class="indexButtons" href="http://localhost:8080/blacklist/adminBlacklistView">Return to blacklist home</a>
</nav>
<h2 th:text="${blacklistTitle}"></h2>
<div class="allOnList" th:unless="${#lists.isEmpty(allOnList)}">

    <h4 th:text="${message}"></h4>
    <h4 th:text="${updateCustomerFeedbackMessage}"></h4>

    <table>
        <th th:text="${id}"></th>
        <th th:text="${email}"></th>
        <th th:text="${name}"></th>
        <th th:text="${group}"></th>
        <th th:text="${created}"></th>
        <th th:text="${ok}"></th>
        <th></th>
        <th></th>
        <th></th>
        <tbody>
        <tr th:each="cust : ${allOnList}">
            <td th:text="${cust.id}"></td>
            <td th:text="${cust.email}"></td>
            <td th:text="${cust.name}"></td>
            <td th:text="${cust.group}"></td>
            <td th:text="${cust.created}"></td>
            <td th:text="${cust.ok}"></td>

            <td> <a class="updateButton" th:href="@{updateExternalBlacklist/{email}/(email=${cust.email})}">Update</a></td>

        </tr>

        </tbody>
    </table>
</div>

<p>

</p>


</body>
</html>