<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Portal</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <h2>Booking Portal</h2>
    <nav>
        <a href="http://localhost:8080/customer/all">Customers</a>
        <a href="http://localhost:8080/booking/all">Bookings</a>
        <a href="http://localhost:8080/customer/addCustomerNewView">New Customer booking</a>
    </nav>
</div>
</body>
</html>
