<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Portal</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <div id="loginAccount">
        <span sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span>!</span>
        <a  href="/logout" sec:authorize="isAuthenticated()">Logout</a>
    </div>
<div class="header">
    <img class="header" th:src="@{/assets/logo.png}">
</div>

    <nav>
        <a class="indexButtons" href="http://localhost:8080/customer/all" sec:authorize="hasAuthority('RECEPTIONIST')">Customers</a>
        <a class="indexButtons" href="http://localhost:8080/booking/all" sec:authorize="hasAuthority('RECEPTIONIST')">Bookings</a>
        <a class="indexButtons" href="http://localhost:8080/customer/addCustomerNewView" sec:authorize="hasAuthority('RECEPTIONIST')">New Customer booking</a>
        <a class="indexButtons" href="http://localhost:8080/contractcustomers/" sec:authorize="hasAuthority('RECEPTIONIST')">Contract customers</a>
        <a class="indexButtons" href="http://localhost:8080/rooms/all" sec:authorize="hasAuthority('RECEPTIONIST')">Rooms</a>
    </nav>
    <nav>
        <a class="indexButtons" id="adminButton" href="http://localhost:8080/adminpage.html" sec:authorize="hasAuthority('ADMIN')">Admin services</a>
    </nav>
</div>
</body>
</html>
