<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .error-message {
            color: red;
        }
        .list-group-item {
            display: flex;
            justify-content: space-between;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<h2>Update User</h2>

<form id="customerForm" th:action="@{/login/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{enabled}" />
    <input type="hidden" th:field="*{roles}" />

    <label for="password">Password:</label><br>
    <input type="password" id="password" th:field="*{password}" autocomplete="new-password"><br>
    <span id="ssn-error" class="error-message"></span> <br>

    <input type="submit" value="Update" id="submit-button">
</form>

</body>
</html>