<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Glömt lösenord</title>
  <!-- Lägg till Bootstrap CSS för snyggare design -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .container {
      max-width: 400px;
      padding-top: 100px;
    }
    .login-container {
      padding: 20px;
      background: #f7f7f7;
      border: 1px solid #dedede;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px #0000001a;
    }
    .form-group {
      margin-bottom: 15px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="login-container">
    <h2 class="text-center">Glömt lösenord</h2>
    <form th:action="@{/login/forgotpassword}" method="post" class="form-signin">
      <div class="form-group">
        <label for="email">E-postadress</label>
        <input type="email" class="form-control" id="email" name="email" required autofocus>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Återställ lösenord</button>
    </form>
    <div class="text-center">
      <a href="/login">Tillbaka till inloggning</a>
    </div>
  </div>
</div>
<!-- Lägg till Bootstrap JS och Popper.js för interaktivitet -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
