<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pensionatet Bokingsportal - Glömt lösenord</title>
  <!-- Lägg till Bootstrap CSS för snyggare design -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styleLogin.css">
</head>
<body>
<div class="body">
  <div class="header">
    <img class="header" th:src="@{/assets/logo.png}">
  </div>
    <form th:action="@{/login/forgotpassword}" method="post" class="form-signin">
      <h2 class="text-center">Glömt lösenord</h2>
      <div class="form-group">
        <label for="email">E-postadress:</label>
        <input type="email" class="form-control" id="email" name="email" required autofocus>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Återställ lösenord</button>
      <div class="text-center" id="forgot-password">
        <a href="/login">Tillbaka till inloggning</a>
      </div>
    </form>

  </div>
<!-- Lägg till Bootstrap JS och Popper.js för interaktivitet -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
