<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search available rooms</title>
</head>
<body>
<h2>Search available rooms</h2>

<form action="#" th:action="@{/booking/bookingByViewSearchAvailableRooms}"  method="post" >

    <label for="roomTypeId">Room type: </label><br>
    <select id="roomTypeId" name="roomTypeId">
        <option value="">--Please choose an option--</option>
        <option th:each="roomType : ${roomTypes}" th:value="${roomType.id}" th:text="${roomType.roomSize}"></option>
    </select><br>

<label for="startDate">Start date: </label><br>
<input type="date" id="startDate" name="startDate" th:value="${startDate}"><br>

<label for="endDate">End Date: </label><br>
<input type="date" id="endDate" name="endDate" th:value="${endDate}"><br>

<label for="guestQuantity">Guest quantity: </label><br>
<input type="text" id="guestQuantity" name="guestQuantity" th:value="${guestQuantity}"><br>

<label for="extraBedsQuantity">Extra beds: </label><br>
<input type="text" id="extraBedsQuantity" name="extraBedsQuantity" th:value="${extraBedsQuantity}"><br>

<input type=hidden id="id"><br>
<input type="submit" value="Search">
</form>


<div class="allRooms" th:unless="${#lists.isEmpty(allRooms)}">

    <table>
        <th th:text="${roomId}"></th>
        <th th:text="${roomSize}"></th>
        <th th:text="${maxExtraBeds}"></th>

        <tbody>
        <tr th:each="room : ${allRooms}">
            <td th:text="${room.id}"></td>
            <td th:text="${room.roomType.roomSize}"></td>
            <td th:text="${room.roomType.maxExtraBeds}"></td>

            <td>
                <a th:href="@{/addBooking/{roomId}/{customerId}/{startDate}/{endDate}/{guestQuantity}/{extraBedsQuantity}(roomid=${room.id}, startdate=${startDate}, enddate=${endDate},
                customerid=${customerId}, extraBedQuantity=${extraBedQuantity}, guestQuantity=${guestQuantity})}">
                    Book room
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>