  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search available rooms</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<h2>Search available rooms</h2>

<form action="#" th:action="@{/booking/bookingByViewSearchAvailableRooms/{id}/(id=${customerId})}"  method="post" >

    <label for="roomTypeId">Room type: </label><br>
    <select id="roomTypeId" name="roomTypeId">
        <option value="roomIdField" th:each="roomType : ${roomTypes}" th:value="${roomType.id}" th:text="${roomType.roomSize}" th:selected="${roomType.id == roomTypeIdField}"></option>
    </select><br>
    <span id="roomType-error" class="error-message"></span> <br>


    <label for="startDate">Start date: </label><br>
    <input type="date" id="startDate" name="startDate" th:value="${startDateField}"><br>
    <span id="startDate-error" class="error-message"></span> <br>


    <label for="endDate">End Date: </label><br>
    <input type="date" id="endDate" name="endDate" th:value="${endDateField}"><br>
    <span id="endDate-error" class="error-message"></span> <br>


    <label for="guestQuantity">Guest quantity: </label><br>
    <input type="number" id="guestQuantity" name="guestQuantity" th:value="${guestQuantityField}"><br>
    <span id="guestQuantity-error" class="error-message"></span> <br>


    <label for="extraBedsQuantity">Extra beds: </label><br>
<input type="number" id="extraBedsQuantity" name="extraBedsQuantity" th:value="${maxExtraBedsField}"><br>
    <span id="extraBedsQuantity-error" class="error-message"></span> <br>


    <input type=hidden id="id"><br>
<input type="submit" value="Search" id="submit-button" disabled>
</form>


<div class="allRooms" th:unless="${#lists.isEmpty(allRooms)}">

    <table>
        <th th:text="${roomId}"></th>
        <th th:text="${roomSize}"></th>
        <th th:text="${maxExtraBeds}"></th>
        <th></th>

        <tbody>
        <tr th:each="room : ${allRooms}">
            <td th:text="${room.id}"></td>
            <td th:text="${room.roomType.roomSize}"></td>
            <td th:text="${room.roomType.maxExtraBeds}"></td>

            <td>
                <a class="bookRoomButton" th:href="@{/booking/addBooking/{startDate}/{endDate}/{guestQuantity}/{extraBedsQuantity}/{customerId}/{roomId}/(startDate=${startDateField}, endDate=${endDateField}, guestQuantity=${guestQuantityField}, extraBedsQuantity=${maxExtraBedsField}, customerId=${customerId}, roomId=${room.id})}">
                    Book room
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<script>
    window.onload = function() {
        var roomTypeId = document.getElementById('roomTypeId');
        var roomTypeError = document.getElementById('roomType-error');
        var startDate = document.getElementById('startDate');
        var startDateError = document.getElementById('startDate-error');
        var endDate = document.getElementById('endDate');
        var endDateError = document.getElementById('endDate-error');
        var guestQuantity = document.getElementById('guestQuantity');
        var guestQuantityError = document.getElementById('guestQuantity-error');
        var extraBedsQuantity = document.getElementById('extraBedsQuantity');
        var extraBedsQuantityError = document.getElementById('extraBedsQuantity-error');
        var submitButton = document.getElementById('submit-button');

        // Regular expressions for validation
        var dateRegex = /^\d{4}-\d{2}-\d{2}$/; // YYYY-MM-DD
        var guestQuantityRegex = /^[1-4]$/; // 1 to 4
        var extraBedsQuantityRegex = /^[0-2]$/;

        // Set min and max dates
        var today = new Date();
        startDate.min = today.toISOString().split('T')[0];

        // Update the min date for endDate whenever startDate changes
        startDate.addEventListener('change', function() {
            var startDateValue = new Date(startDate.value);
            var nextDay = new Date(startDateValue.getTime() + (24 * 60 * 60 * 1000));
            endDate.min = nextDay.toISOString().split('T')[0];
        });

        // Update the max value for extraBedsQuantity whenever roomTypeId changes
        roomTypeId.addEventListener('change', function() {
                switch(roomTypeId.value) {
                    case '1':
                        extraBedsQuantity.max = '0';
                        guestQuantity.max = '2';
                        guestQuantityRegex = /^[1-2]$/; // 1 to 4
                        extraBedsQuantityRegex = /^[0]$/;
                        break;
                    case '2':
                        extraBedsQuantity.max = '1';
                        guestQuantity.max = '3';
                        guestQuantityRegex = /^[1-3]$/; // 1 to 4
                        extraBedsQuantityRegex = /^[0-1]$/;

                        break;
                    case '3':
                        extraBedsQuantity.max = '2';
                        guestQuantity.max = '4';
                        guestQuantityRegex = /^[1-4]$/; // 1 to 4
                        extraBedsQuantityRegex = /^[0-2]$/;
                        break;
                    default:
                        extraBedsQuantity.max = '0';
                        guestQuantity.max = '2';
                        guestQuantityRegex = /^[1-2]$/; // 1 to 4
                        extraBedsQuantityRegex = /^[0]$/;
                }
                validateField(guestQuantity, guestQuantityError, guestQuantityRegex, 'Gästen antal är ogiltigt');
                validateField(extraBedsQuantity, extraBedsQuantityError, extraBedsQuantityRegex, 'Extra bädder antal är ogiltigt');
                checkAllFields();
            }
        );


        function validateField(input, inputError, regex, errorMessage) {
            input.addEventListener('input', function() {
                if (!regex.test(input.value)) {
                    inputError.textContent = errorMessage;
                } else {
                    inputError.textContent = '';
                }
                checkAllFields();
            });
        }

        function checkAllFields() {
            var startDateValue = new Date(startDate.value);
            var endDateValue = new Date(endDate.value);
            var maxGuests = parseInt(guestQuantity.max, 10);
            var maxExtraBeds = parseInt(extraBedsQuantity.max, 10);

            if (startDateValue < today.setHours(0,0,0,0)) {
                startDateError.textContent = 'Startdatumet kan inte vara tidigare än dagens datum';
                submitButton.disabled = true;
            } else if (endDateValue <= startDateValue) {
                endDateError.textContent = 'Slutdatumet kan inte vara tidigare än startdatumet';
                submitButton.disabled = true;
            } else if (parseInt(guestQuantity.value, 10) > maxGuests) {
                guestQuantityError.textContent = 'Gästen antal överstiger det maximala tillåtna';
                submitButton.disabled = true;
            } else if (parseInt(extraBedsQuantity.value, 10) > maxExtraBeds) {
                extraBedsQuantityError.textContent = 'Extra bädder antal överstiger det maximala tillåtna';
                submitButton.disabled = true;
            } else if (dateRegex.test(startDate.value) && dateRegex.test(endDate.value) && guestQuantityRegex.test(guestQuantity.value) && extraBedsQuantityRegex.test(extraBedsQuantity.value) && roomTypeId.value !== "") {
                submitButton.disabled = false;
                extraBedsQuantityError.textContent = '';
                guestQuantityError.textContent = '';
                endDateError.textContent = '';
                startDateError.textContent = '';
            } else {
                submitButton.disabled = true;
            }
        }



        guestQuantity.min = '1';
        extraBedsQuantity.min = '0';

        validateField(roomTypeId, roomTypeError, /.+/, 'Välj ett rumstyp');
        validateField(startDate, startDateError, dateRegex, 'Startdatumet är ogiltigt');
        validateField(endDate, endDateError, dateRegex, 'Slutdatumet är ogiltigt');
        validateField(guestQuantity, guestQuantityError, guestQuantityRegex, 'Antal gäster är ogiltigt');
        validateField(extraBedsQuantity, extraBedsQuantityError, extraBedsQuantityRegex, 'Antal extrasängar är ogiltigt');
    }


</script>

    </body>
</html>