<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search available rooms</title>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<h2>Search available rooms</h2>

<form action="#" th:action="@{/booking/bookingByViewSearchAvailableRooms/{id}/(id=${customerId})}"  method="post" >

    <label for="roomTypeId">Room type: </label><br>
    <select id="roomTypeId" name="roomTypeId">
        <option value="">--Please choose an option--</option>
        <option th:each="roomType : ${roomTypes}" th:value="${roomType.id}" th:text="${roomType.roomSize}"></option>
    </select><br>
    <span id="roomType-error" class="error-message"></span> <br>


    <label for="startDate">Start date: </label><br>
    <input type="date" id="startDate" name="startDate" th:date="${session.startDateField}" th:value="${startDate}"><br>
    <span id="startDate-error" class="error-message"></span> <br>


    <label for="endDate">End Date: </label><br>
    <input type="date" id="endDate" name="endDate" th:value="${endDate}"><br>
    <span id="endDate-error" class="error-message"></span> <br>


    <label for="guestQuantity">Guest quantity: </label><br>
    <input type="number" id="guestQuantity" name="guestQuantity" th:value="${guestQuantity}"><br>
    <span id="guestQuantity-error" class="error-message"></span> <br>


    <label for="extraBedsQuantity">Extra beds: </label><br>
<input type="number" id="extraBedsQuantity" name="extraBedsQuantity" th:value="${extraBedsQuantity}"><br>
    <span id="extraBedsQuantity-error" class="error-message"></span> <br>


    <input type=hidden id="id"><br>
<input type="submit" value="Search" id="submit-button" disabled>
</form>


<div class="allRooms" th:unless="${#lists.isEmpty(allRooms)}">

    <table>
        <th th:text="${roomId}"></th>
        <th th:text="${roomSize}"></th>
        <th th:text="${maxExtraBeds}"></th>

        <tbody>
        <tr th:each="room : ${allRooms}">
            <td th:text="${room.id}"></td>
            <td th:text="${room.roomType.roomSize}"></td>
            <td th:text="${room.roomType.maxExtraBeds}"></td>

            <td>
                <a th:href="@{/addBooking/{roomId}/{customerId}/{startDate}/{endDate}/{guestQuantity}/{extraBedsQuantity}(roomid=${room.id}, startdate=${startDate}, enddate=${endDate},
                customerid=${customerId}, extraBedQuantity=${extraBedQuantity}, guestQuantity=${guestQuantity})}">
                    Book room
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<script>
    window.onload = function() {
        var roomTypeId = document.getElementById('roomTypeId');
        var roomTypeError = document.getElementById('roomType-error');
        var startDate = document.getElementById('startDate');
        var startDateError = document.getElementById('startDate-error');
        var endDate = document.getElementById('endDate');
        var endDateError = document.getElementById('endDate-error');
        var guestQuantity = document.getElementById('guestQuantity');
        var guestQuantityError = document.getElementById('guestQuantity-error');
        var extraBedsQuantity = document.getElementById('extraBedsQuantity');
        var extraBedsQuantityError = document.getElementById('extraBedsQuantity-error');
        var submitButton = document.getElementById('submit-button');

        // Regular expressions for validation
        var dateRegex = /^\d{4}-\d{2}-\d{2}$/; // YYYY-MM-DD
        var quantityRegex = /^[1-4]$/; // 1 to 4

        // Set min and max dates
        var today = new Date();
        startDate.min = today.toISOString().split('T')[0];

        // Update the min date for endDate whenever startDate changes
        startDate.addEventListener('change', function() {
            var startDateValue = new Date(startDate.value);
            var nextDay = new Date(startDateValue.getTime() + (24 * 60 * 60 * 1000));
            endDate.min = nextDay.toISOString().split('T')[0];
        });

        // Update the max value for extraBedsQuantity whenever roomTypeId changes
        roomTypeId.addEventListener('change', function() {
            switch(roomTypeId.value) {
                case '1':
                    extraBedsQuantity.max = '0';
                    guestQuantity.max = '2';
                    break;
                case '2':
                    extraBedsQuantity.max = '1';
                    guestQuantity.max = '3';
                    break;
                case '3':
                    extraBedsQuantity.max = '2';
                    guestQuantity.max = '4';
                    break;
                default:
                    extraBedsQuantity.max = '0';
                    guestQuantity.max = '2';
            }
            validateQuantities()
        });

        // Validate extraBedsQuantity whenever its value changes
        extraBedsQuantity.addEventListener('input', validateQuantities);
        guestQuantity.addEventListener('input', validateQuantities);

        function validateField(input, inputError, regex, errorMessage) {
            input.addEventListener('input', function() {
                if (!regex.test(input.value)) {
                    inputError.textContent = errorMessage;
                } else {
                    inputError.textContent = '';
                }
                checkAllFields();
            });
        }

        function validateQuantities() {
            let isValid = true;

            if (!extraBedsQuantity.value) {
                extraBedsQuantityError.textContent = 'Extra sängar fältet kan inte vara tomt';
                isValid = false;}
            else if (!guestQuantity.value) {
                guestQuantityError.textContent = 'Gäster fältet kan inte vara tomt';
                isValid = false;}

            else if(extraBedsQuantity.value > extraBedsQuantity.max) {
                extraBedsQuantityError.textContent = 'Antal extra sängar valda är felaktigt baserat på din valda rumstyp';
                isValid = false;
            } else if (extraBedsQuantity.value < 0) {
                extraBedsQuantityError.textContent = 'Antalet extra sängar kan inte vara mindre än 0';
                isValid = false;
            } else if (guestQuantity.value < 1) {
                guestQuantityError.textContent = 'Antalet gäster kan inte vara mindre än 1';
                isValid = false;
            }
            else {
                extraBedsQuantityError.textContent = '';
            }

            if (guestQuantity.value > guestQuantity.max) {
                guestQuantityError.textContent = 'Antal gäster valda är felaktigt baserat på din valda rumstyp';
                isValid = false;
            } else if (guestQuantity.value < 0) {
                guestQuantityError.textContent = 'Antalet gäster kan inte vara mindre än 0';
                isValid = false;
            } else {
                guestQuantityError.textContent = '';
            }

            submitButton.disabled = !isValid;
        }

        function checkAllFields() {
            var startDateValue = new Date(startDate.value);
            var endDateValue = new Date(endDate.value);
            if (startDateValue < today.setHours(0,0,0,0)) {
                startDateError.textContent = 'Startdatumet kan inte vara tidigare än dagens datum';
                submitButton.disabled = true;
            } else if (endDateValue <= startDateValue) {
                endDateError.textContent = 'Slutdatumet kan inte vara tidigare än startdatumet';
                submitButton.disabled = true;
            } else if (dateRegex.test(startDate.value) && dateRegex.test(endDate.value) && quantityRegex.test(guestQuantity.value) && roomTypeId.value !== "") {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }

        // Set default values
        guestQuantity.value = '1';
        guestQuantity.min = '1';
        extraBedsQuantity.value = '0';
        extraBedsQuantity.min = '0';

        validateField(roomTypeId, roomTypeError, /.+/, 'Välj ett rumstyp');
        validateField(startDate, startDateError, dateRegex, 'Startdatumet är ogiltigt');
        validateField(endDate, endDateError, dateRegex, 'Slutdatumet är ogiltigt');
    }


</script>

    </body>
</html>