<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/customer/update}" th:object="${customer}"  method="post" >
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}"><br>

    <label for="ssn">SSN:</label><br>
    <input type="text" id="ssn" th:field="*{ssn}"><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" th:field="*{email}"><br>

    <input type=hidden id="id" th:field="*{id}"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>