<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/booking/update}" th:object="${booking}"  method="post" >
    <label for="customer">Customer: </label><br>
    <input type="text" disabled id="customer" th:field="*{customer}"><br>

    <label for="startDate">Start Date: </label><br>
    <input type="date" id="startDate" th:field="*{startDate}"><br>

    <label for="endDate">End Date: </label><br>
    <input type="date" id="endDate" th:field="*{endDate}"><br>

    <label for="guestQuantity">Guests: </label><br>
    <input type="text" id="guestQuantity" th:field="*{guestQuantity}"><br>

    <label for="roomId">Room id: </label><br>
    <input type="text" id="roomId" th:field="*{room.id}"><br>

    <label for="roomSize">Room size: </label><br>
    <input type="text" disabled id="roomSize" th:field="*{room.roomType.roomSize}"><br>

    <label for="extraBedsQuantity">Extra beds: </label><br>
    <input type="text" id="extraBedsQuantity" th:field="*{extraBedsQuantity}"><br>

    <input type=hidden id="id" th:field="*{id}"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>