<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .error-message {
            color: red;
        }
        .list-group-item {
            display: flex;
            justify-content: space-between;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<h4 th:text="${errorMessageUpdateUser}"></h4>
<h2>Update User</h2>

<form id="customerForm" th:action="@{/users/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label for="username">Username:</label><br>
    <input type="text" id="username" th:field="*{username}"><br>
    <span id="name-error" class="error-message" th:text="${errorMessage}"></span> <br>

    <label for="password">Password:</label><br>
    <input type="text" id="password" th:field="*{password}" autocomplete="new-password"><br>
    <span id="ssn-error" class="error-message"></span> <br>

    <label for="userEnabled">Enabled:</label><br>
    <input type="text" id="userEnabled" th:field="*{enabled}"><br>

    <label for="roles">Roles:<br>
        <select class="form-control" id="roles">
            <option th:each="role : ${allRoles}"
                    th:value="${role.id}"
                    th:data-name="${role.name}"
                    th:text="${role.name}"
                    th:selected="${userRoles.contains(role)}"></option>
        </select>
    </label>
    <button type="button" id="addRoleBtn" class="btn btn-primary mt-2">Lägg till</button>

    <h3>Valda roller:</h3>
    <ul id="selectedRolesList" class="list-group">
        <li th:each="role : ${userRoles}"
            class="list-group-item"
            th:data-role-id="${role.id}"
            th:data-role-name="${role.name}">
            <span th:text="${role.name}"></span>
            <button type="button" class="btn btn-danger btn-sm ml-2 removeRoleBtn">Remove</button>
        </li>
    </ul>

    <!-- Hidden inputs to store selected roles -->
    <div id="selectedRolesInputs">
        <input type="hidden" th:each="role : ${userRoles}" th:name="roles" th:value="${role.id}" th:data-role-id="${role.id}">
    </div>

    <input type="submit" value="Update" id="submit-button">
</form>

<script>
    $(document).ready(function() {
        $('#addRoleBtn').click(function() {
            var selectedRoleId = $('#roles').val();
            var selectedRoleName = $('#roles option:selected').data('name');

            // Kontrollera om rollen redan finns i listan
            if ($('#selectedRolesList').find('li[data-role-id="' + selectedRoleId + '"]').length === 0) {
                $('#selectedRolesList').append('<li class="list-group-item" data-role-id="' + selectedRoleId + '" data-role-name="' + selectedRoleName + '">' + selectedRoleName + '<button type="button" class="btn btn-danger btn-sm ml-2 removeRoleBtn">Remove</button></li>');

                // Lägg till dold inputfält för den valda rollen
                $('#selectedRolesInputs').append('<input type="hidden" name="roles" value="' + selectedRoleId + '" data-role-id="' + selectedRoleId + '"/>');
            } else {
                alert('Rollen är redan tillagd.');
            }
        });

        // Ta bort roll från listan
        $('#selectedRolesList').on('click', '.removeRoleBtn', function() {
            var roleIdToRemove = $(this).parent().data('role-id');
            $(this).parent().remove();

            // Ta bort motsvarande dold inputfält för den borttagna rollen
            $('#selectedRolesInputs').find('input[data-role-id="' + roleIdToRemove + '"]').remove();
        });
    });
</script>

</body>
</html>