<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav id="indexMeny">
<a class="indexButtons" href="http://localhost:8080">Home</a>
<a class="indexButtons" href="http://localhost:8080/adminpage.html">Admin services</a>
</nav>

<h2 th:text="${usersTitle}"></h2>
<nav>
    <a class="indexButtons" th:href="@{addUserView}">Add User</a></nav>
<div class="allUsers" th:unless="${#lists.isEmpty(allUsers)}">

    <h4 th:text="${message}"></h4>
    <h4 th:text="${updateCustomerFeedbackMessage}"></h4>

    <table>
        <th th:text="${email}"></th>
        <th th:text="${roles}"></th>
        <th th:text="${enabled}"></th>
        <th></th>
        <th></th>
        <th></th>
        <tbody>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.getRoleString()}"></td>
            <td th:text="${user.enabled}"></td>
            <td><a class="deleteButton" th:href="@{deleteById/{id}/(id=${user.id})}">Delete</a></td>
            <td><a class="updateButton" th:href="@{editByView/{id}/(id=${user.id})}">Update</a></td>
        </tr>

        </tbody>
    </table>
</div>

<p>

</p>


</body>
</html>